.home
  #intro
    %h1 Use all your popular social networks in one place.
    %h3 Meet new friends while you don't ignore the friends you already have...

#second
  %h2 Three of the best



